---
BasedOnStyle: Google
AccessModifierOffset: -2
AllowShortCaseLabelsOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
ColumnLimit: 100
IndentWidth: 4
BreakBeforeBraces: Custom
BraceWrapping:
    BeforeElse: true
    BeforeCatch: true
---
Language: Cpp
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: false
